:host {
  min-height: 100vh;
  display: flex;
}

mat-drawer-container { 
  flex: 1 1 auto; 
}

mat-drawer {
  width: 300px;
}

mat-drawer-content .mat-drawer-content .drawer-content {
  display: flex;
  flex-direction: column;
}
